<!doctype html>
<html ng-app="cardApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="game.controller.js"></script>
	<script src="cardApi.service.js"></script>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	
	<!-- FA: https://fontawesome.com/icons?d=gallery&q=fire -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	
	<style>
		.card {
			border: 1px solid transparent;
		}
		.card.selected {
			border: 1px solid red;
		}
	</style>
  </head>
  <body style="padding: 5px;">
    <section ng-controller="GameController as gameCtrl">
		<section ng-hide="gameCtrl.selectedAdventurer" ng-cloak>
			<h3>Choose Your Adventurer</h2>
			<div class="row">
				<div class="col s4 m3" ng-repeat="adventurer in gameCtrl.adventurers">
					<div class="card small">
						<div class="card-content" style="position: relative; min-height: 75%;">
							<span class="card-title">{{ adventurer.name }}</span>
							<ul>
								<li><label>Melee:</label> {{ adventurer.melee || '0' }}
								<li><label>Music:</label> {{ adventurer.music || '0' }}
								<li><label>Ranged:</label> {{ adventurer.ranged || '0' }}
								<li><label>Magic:</label> {{ adventurer.magic || '0' }}
							</ul>
							<br />
							<small class="center" style="position: absolute; bottom: 0; left: 0; right: 0;"><i>{{ adventurer.flavortext }}</i></small>
						</div>
						<div class="card-action">
							<a href="#" ng-click="gameCtrl.selectAdventurer(adventurer)">Use Card</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div ng-if="gameCtrl.selectedAdventurer">
			<h4>Selected Adventurer: {{ gameCtrl.selectedAdventurer.name }}</h4>
			<div style="position: absolute;top: 10px;right: 5px;">
				<div>Health: {{ gameCtrl.selectedAdventurer.health }}</div>
				<div>
					<button ng-click="gameCtrl.addHealth(-1)"><i class="fas fa-minus"></i></button>
					<button ng-click="gameCtrl.addHealth(1)"><i class="fas fa-plus"></i></button>
				</div>
			</div>
			<h5>Cards
				<i><small>(
					<span ng-if="gameCtrl.selectedAdventurer.melee">{{ gameCtrl.selectedAdventurer.melee }} melee;</span>
					<span ng-if="gameCtrl.selectedAdventurer.music">{{ gameCtrl.selectedAdventurer.music }} music;</span>
					<span ng-if="gameCtrl.selectedAdventurer.ranged">{{ gameCtrl.selectedAdventurer.ranged }} ranged;</span>
					<span ng-if="gameCtrl.selectedAdventurer.magic">{{ gameCtrl.selectedAdventurer.magic }} magic;</span>
				)</small></i>
			</h5>
			<div class="row" ng-hide="gameCtrl.hideCards" ng-cloak>
				<p><i class="fas fa-info-circle"></i> View the cards below and click shuffle when ready to begin</p>
				<button class="btn waves-effect waves-light" name="action" ng-click="gameCtrl.shuffle()">Shuffle
					<i class="fas fa-random"></i>
				</button>
				<br />
				<div class="col s6 m3" ng-repeat="ability in gameCtrl.selectedAdventurer.abilityCards">
					<div class="card medium">
						<div class="card-content center" style="position: relative; min-height: 85%;">
							<span class="card-title">{{ ability.name }}</span>
							<small style="position: absolute; top: 5px; right: 5px;">{{ ability.class }}</small>
							<small style="position: absolute; top: 5px; left: 5px;">{{ ability.typeicon }}</small>
							<div><strong><i class="far fa-gem"></i> >= {{ ability.risk }}</strong></div>
							<div><strong><i class="fas fa-crosshairs"></i> {{ ability.target }}</strong></div>
							<br />
							<div><strong>SUCCESS:</strong> {{ ability.hit }}</div>
							<br />
							<div><strong><i class="far fa-gem"></i> >= 20:</strong> {{ ability.crithit }}</div>
							<div><strong><i class="far fa-gem"></i> <= 1:</strong> {{ ability.critmiss }}</div>
							<br />
							<small class="center" style="position: absolute; bottom: 0; left: 0; right: 0;"><i>{{ ability.flavortext }}</i></small>
						</div>
						<div class="card-action">
							<a href="#">Use Card</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="gameCtrl.hideCards">
				<button class="btn waves-effect waves-light" name="action" ng-click="gameCtrl.drawCards()">Draw
					<i class="fas fa-angle-up"></i>
				</button>
				<br />
				<div class="col s6 m3" ng-repeat="ability in gameCtrl.selectedAdventurer.drawnAbilityCards">
					<div class="card medium" ng-class="{'selected': ability.selected}">
						<div class="card-content center" style="position: relative; min-height: 85%;">
							<span class="card-title">{{ ability.name }}</span>
							<small style="position: absolute; top: 5px; right: 5px;">{{ ability.class }}</small>
							<small style="position: absolute; top: 5px; left: 5px;">{{ ability.typeicon }}</small>
							<div><strong><i class="far fa-gem"></i> >= {{ ability.risk }}</strong></div>
							<div><strong><i class="fas fa-crosshairs"></i> {{ ability.target }}</strong></div>
							<br />
							<div><strong>SUCCESS:</strong> {{ ability.hit }}</div>
							<br />
							<div><strong><i class="far fa-gem"></i> >= 20:</strong> {{ ability.crithit }}</div>
							<div><strong><i class="far fa-gem"></i> <= 1:</strong> {{ ability.critmiss }}</div>
							<br />
							<small class="center" style="position: absolute; bottom: 0; left: 0; right: 0;"><i>{{ ability.flavortext }}</i></small>
						</div>
						<div class="card-action">
							<a href="#" ng-click="gameCtrl.selectCard(ability)" ng-hide="ability.selected">Use Card</a>
							<a href="#" ng-click="gameCtrl.playCard(ability)" ng-if="ability.selected">Discard Card</a>
						</div>
					</div>
				</div>
				<br />
				<div class="clearfix">
					<button class="btn waves-effect waves-light" name="action" ng-click="gameCtrl.clearCards()" ng-if="gameCtrl.selectedAdventurer.drawnAbilityCards.length > 0">Discard All
						<i class="fas fa-angle-down"></i>
					</button>
				</div>
			</div>
			<button class="btn waves-effect waves-light" name="action" ng-click="gameCtrl.chooseEncounters(true)">Choose Encounters
				<i class="fas fa-arrow-right"></i>
			</button>
		</div>
		<div ng-if="gameCtrl.choosingEncounters">
			<div class="clearfix">
				<input class="col s12 m6" type="text" ng-model="gameCtrl.encounterFilter" placeholder="Search for encounter" />
				<button class="btn waves-effect waves-light" name="action" ng-click="gameCtrl.chooseEncounters(false)">Done Selecting
					<i class="fas fa-arrow-down"></i>
				</button>
			</div>
			<div>
				<strong>Selected Encounters:</strong> <em ng-repeat="crnt in gameCtrl.currentEncounters">{{ crnt.name }} ({{ crnt.tier }}); </em>
			</div>
			<div class="row">
				<div class="col s6 m3" ng-repeat="encounter in gameCtrl.encounters | filter: gameCtrl.encounterFilter">
					<div class="card medium blue-grey darken-4">
						<div class="card-content white-text center" style="position: relative; min-height: 85%;">
							<small style="position: absolute; top: 5px; right: 5px;"><i class="far fa-heart"></i> {{ encounter.health }}</small>
							<span class="card-title">{{ encounter.name }}</span>
							<div>Tier {{ encounter.tier }} <strong>{{ encounter.class }}</strong></div>
							<div>{{ encounter.ongoing1 }}</div>
							<div>{{ encounter.ongoing2 }}</div>
							<div><strong>SURGE:</strong> {{ encounter.surge }}</div>
							<br />
							<small class="center" style="position: absolute; bottom: 0; left: 0; right: 0;"><i>{{ encounter.flavortext }}</i></small>
						</div>
						<div class="card-action">
							<a href="#" ng-click="gameCtrl.selectEncounter(encounter)">Select Card</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="!gameCtrl.choosingEncounters && gameCtrl.currentEncounters.length > 0">
			<h4>Current Encounters</h4>
			<div class="row">
				<div class="col s6 m3" ng-repeat="encounter in gameCtrl.currentEncounters | filter: gameCtrl.encounterFilter">
					<div class="card medium blue-grey darken-4">
						<div class="card-content white-text center" style="position: relative; min-height: 85%;">
							<div style="position: absolute; top: 10px; right: 5px;">
								<small><i class="far fa-heart"></i> {{ encounter.currentHealth }} / {{ encounter.health }}</small>
								<div>
									<button ng-click="gameCtrl.updateHealth(encounter,-1)" class="red lighten-1"><i class="fas fa-minus"></i></button>
									<button ng-click="gameCtrl.updateHealth(encounter,1)" class="blue lighten-1"><i class="fas fa-plus"></i></button>
								</div>
							</div>
							<span class="card-title">{{ encounter.name }}</span>
							<div>Tier {{ encounter.tier }} <strong>{{ encounter.class }}</strong></div>
							<div>{{ encounter.ongoing1 }}</div>
							<div>{{ encounter.ongoing2 }}</div>
							<div><strong>SURGE:</strong> {{ encounter.surge }}</div>
							<br />
							<small class="center" style="position: absolute; bottom: 0; left: 0; right: 0;"><i>{{ encounter.flavortext }}</i></small>
						</div>
					</div>
				</div>
			</div>
			<div>
				<button class="btn waves-effect waves-light" name="action" ng-click="gameCtrl.getLoot()">Get Loot</button>
			</div>
			<div>
				<button class="btn waves-effect waves-light" name="action" ng-click="gameCtrl.finishEncounter()">Finish Encounter
					<i class="fas fa-check-square"></i>
				</button>
			</div>
		</div>
		<div ng-if="gameCtrl.selectedAdventurer.lootCards.length > 0">
			<h4>Owned Loot Cards</h4>
			<div class="row">
				<div class="col s6 m3" ng-repeat="item in gameCtrl.selectedAdventurer.lootCards">
					<div class="card medium">
						<div class="card-content center" style="position: relative; min-height: 85%;">
							<span class="card-title">{{ item.name }}</span>
							<div><strong>Tier {{ item.tier }} loot</strong></div>
							<div><strong>{{ item.numberuses }}</strong></div>
							<div><strong>{{ item.usewhen }}</strong></div>
							<br />
							<div>{{ item.text }}</div>
							<br />
							<small class="center" style="position: absolute; bottom: 0; left: 0; right: 0;"><i>{{ item.flavortext }}</i></small>
						</div>
						<div class="card-action" ng-click="gameCtrl.discardLoot(item)">
							<a href="#" ng-click="gameCtrl.discardLoot(item)">Discard</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  </body>
</html>